/.git                                           export-ignore
/.idea                                          export-ignore
/console                                        export-ignore
/docker                                         export-ignore
/vendor                                         export-ignore
/wp                                             export-ignore
/.editorconfig                                  export-ignore
/console                                        export-ignore
/docker-compose.yml                             export-ignore
/env.php                                        export-ignore
/wp-cli.yml                                     export-ignore
/wp-config.php                                  export-ignore
