/docker/                                        export-ignore
/logs/                                          export-ignore
/.editorconfig                                  export-ignore
/console                                        export-ignore
/docker-compose.yml                             export-ignore
/env.php                                        export-ignore
/wp-cli.yml                                     export-ignore
/wp-config.php                                  export-ignore
