### MAC ###
.DS_Store

### PHPSTORM ###
/.idea

### VSCODE ###
/.vscode

### WORDPRESS ###
.htaccess
/wp

### COMPOSER ###
/vendor
/auth.json

### WORDLESS ###
/.env
/app
/cache
/config
/stubs

### PHP UNIT ###
/.phpunit.cache
